<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }

    		.editor { 
				width : 100%;
				height : 400px;
        	}

			footer {
				text-align : center;
			}
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

	<div class="container">
		<h1>yml:diff</h1>

		<p>Online yaml diff tool written in javascript</p>

		<ul id="toptab" class="nav nav-tabs">
		  <li class="active"><a href="#file1">File 1</a></li>
		  <li><a href="#file2">File 2</a></li>
		  <li><a href="#results">Results</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="file1">
			<div class="editor" id="editor1">Drop file1 here</div>
		  </div>
		  <div class="tab-pane" id="file2">
			<div class="editor" id="editor2">Drop file2 here</div>
		  </div>
		  <div class="tab-pane" id="results">
			<div class="editor" id="editor3">Results</div>
		  </div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
				  <div class="col-xs-12 col-md-8">
					<div class="btn-group">
						<button type="button" class="btn btn-default">Show in tabs</button>
						<button type="button" class="btn btn-default">Show side by side</button>
					</div>
					</div>
						<div class="col-xs-6 col-md-4" style="text-align:right">
							<button type="button" class="btn btn-primary">Show differences</button>
						</div>
					</div>
				</div>
			</div>
		</div>
      <hr>

      <footer>
        <p>&copy; Metashock 2014</p>
      </footer>

    </div> <!-- /container -->        
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/js-yaml/js-yaml.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		<script src="ace-1.1.3/build/src/ace.js" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript">
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>

		<script type="text/javascript">


			$(function(){
				var editor1 = ace.edit("editor1");
				editor1.setTheme("ace/theme/monokai");
				editor1.getSession().setMode("ace/mode/yaml");

				var editor2 = ace.edit("editor2");
				editor2.setTheme("ace/theme/monokai");
				editor2.getSession().setMode("ace/mode/yaml");

				$('#toptab a').click(function (e) {
				  e.preventDefault()
				  $(this).tab('show')
				});

				registerFileDropping('#editor1');
				registerFileDropping('#editor2');
			});

			function registerFileDropping(selector) {
				var obj = $(selector);
				obj.on('dragenter', function (e)
				{
					e.stopPropagation();
					e.preventDefault();
					$(this).css('border', '2px solid #0B85A1');
				});
				obj.on('dragover', function (e)
				{
					 e.stopPropagation();
					 e.preventDefault();
				});

				obj.on('drop', function (e) {
					$(this).css('border', '2px dotted #0B85A1');
					e.preventDefault();
					var files = e.originalEvent.dataTransfer.files;

	 				var reader = new FileReader();

					reader.onload = function(e) {
						var text = reader.result;
						window[$(obj).attr('id')].setValue(text);
						var doc = jsyaml.load(text);
						console.info(doc);

						var tabheadsel = [
							'a[href="',
							$(obj).attr('id').replace(/editor/, '#file'),
							'"]'
						].join('');
						$(tabheadsel).text(files[0].name);
					}

					reader.readAsText(files[0]);
				});
			}

        </script>
    </body>
</html>
